<header class="masthead">
    <main>
    <div id="pessoa-view-container" class="container">
    <div class="row text-center">
        <div id="listPessoa" class="list-group">
            <h1 class="main-color">{{pessoa.dataValues.Nome}}</h1>
            <label>Data de Nascimento</label>
            <p>{{pessoa.dataValues.DataNasc}}</p>
            <label>Endereço</label>
            <p>{{pessoa.dataValues.Endereco}}</p>
            <label>Telefone</label>
            <p>{{pessoa.dataValues.Telefone}}</p>
            <label>E-mail</label>
            <p>{{pessoa.dataValues.Email}}</p>
            <a class="btn btn-primary ml-auto" id="btnView" href="/pessoas/get">Voltar</a>
        </div>
    </div>
</div>
    </main>                
</header>
